/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: #3d405b;
 }
 .box {
     margin-top: 20px;
     background-color: #81B29A;
     color: #F4F1DE;
     padding: 20px;
     text-align: center;
     border-radius: 15px;
     box-shadow: -5px -5px 2px #F4D7A4;
 }

 a {
    color:  #F4F1DE;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 26px;;
 }
 a:hover {
     color: #E07A5F;
 }